@import "reset.css";
/* https://meyerweb.com/eric/tools/css/reset/reset.css */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
	--key: #ff0080;
	--tint: #ff0;
	--shade: #00f;
}
html{}

/* ======= type ======= */
body{
	font-size: 18px;
	font-family: 'Roboto', 'Poppins', sans-serif;
	font-weight: 400;
}
h1,h2,h3,h4{
	font-family: 'Poppins', 'Roboto', sans-serif;
	font-weight: 500;
}
h1{
	font-size: 2em;
	font-weight: 700;
}
h2{
	font-size: 1.5em;
}
b{
	font-weight: 700;
}

a,
a:visited{
	color: inherit;
}
a:hover{
	color: var(--key);
}
a.red{
	color:#f00;
}
/* ======= END type ======= */


/* ======= element styles ======= */
h2{
	margin-bottom: 20px;
}

header{
	background: var(--tint);
	margin-bottom: 20px;
	padding: 20px 0;
	border-bottom: 0.5em solid black;
}
header a{
	text-decoration: none;
}

nav ul{
	list-style: none;
}
nav li{
	display: inline-block;
	padding-top: 10px;
	padding-right: 20px;
}

main .wrapper,
header .wrapper{
	width: 960px;
	margin: 0 auto;
}

footer{
	min-height: 50px;
/*	background-color: var(--shade);*/
}
/* ======= END element styles ======= */


p.success{
	padding: 20px 0;
}

.btn{
	padding: 0.5em;
	border: 1px solid black;
	text-decoration: none;
	transition: background ease 0.2s;
}
.btn:hover{
	color: black;
	background: var(--key);
}

form.input{
	width: 600px;
/*	margin: 0 auto;*/
	border: 1px solid #000;
	padding: 10px;
	position: relative;
}
form.input .error{
	color: red;
}
	form.input input[type="submit"]{
		position: absolute;
		right: 10px;
		bottom: 10px;
		padding: 5px;
	}
.form-group{
	width: 100%;
	margin-bottom: 10px;
	line-height: 1.5em;
	display: grid;
	grid-template-columns: 1fr 3fr;
	align-items: center;
}
	.form-group label{
		padding-right: 10px;
	}
	.form-group input{
		border-radius: 0;
		border-width: 1px;
		border-style: solid;
		border-color: inherit;
		line-height: 1.5em;
	}
		.form-group input:focus{
			background: var(--tint);
		}
		.form-group input[type="file"]{
			border: 0;
		}

.result{
	border-bottom: 1px solid black;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.result a{
	color: var(--key);
}
.result .small{
	font-size: 0.8em;
	font-style: italic;
	padding: 0.5em 0;
}
.result img{
	max-width: 100%;
	max-height: 200px;
}